/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    body {
        @apply relative bg-whiten text-base font-normal text-body dark:text-bodydark dark:bg-boxdark-2;
        font-family: "Cairo", sans-serif;
    }
} */

@layer components {
    .navbar-active .hamburger div:first-child {
        @apply rotate-45 translate-y-1.5;
    }

    .navbar-active .hamburger div:last-child {
        @apply -rotate-45 -translate-y-1;
    }

    .navbar-active div:first-child div:first-child div:last-child {
        @apply block lg:flex
    }

    .btn-primary {
        @apply bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded;
    }
}












@layer utilities {
    .scrollbar-custom {
        &::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            background-color: #F0F5FF;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #60a5fa;
            border-radius: 0.5rem;
        }
    }

    .dark .scrollbar-custom {
        &::-webkit-scrollbar-track {
            background-color: #F0F5FF;
            border-radius: 0.25rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #92b5fd;
            border-radius: 0.5rem;
        }
    }

    /* .scrollbar-custom {
        &::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            background-color: #F0F5FF;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #60a5fa;
        }
    }

    .dark .scrollbar-custom {
        &::-webkit-scrollbar-track {
            background-color: #F0F5FF;
            border-radius: 0.25rem;
            -webkit-border-radius: 0.25rem;
            -moz-border-radius: 0.25rem;
            -ms-border-radius: 0.25rem;
            -o-border-radius: 0.25rem;
}

        &::-webkit-scrollbar-thumb {
            background-color: #92b5fd;
            border-radius: 0.5rem;
        }
    } */
}








/* charts of categories and statuses */
.chart-title {
    @apply text-center mb-5 text-2xl text-gray-800;
    /* Tailwind CSS classes */
}












/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(247, 240, 240)ED8;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B6D1EB;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #93C5FD;
}
